{% extends 'base.html' %} {% block content %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />
    <title>Product</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="flex min-h-screen flex-col bg-white justify-between"
      style="font-family: Manrope, 'Noto Sans', sans-serif"
    >
      <div class="flex-1 flex items-center justify-center shadow-xl p-4">
        <div class="w-full max-w-md mx-auto">
          <div class="bg-white rounded-xl shadow-lg overflow-hidden">
            <div
              class="bg-center bg-no-repeat aspect-video bg-contain"
              style="background-image: url('{{ product.image.url }}'); "
            ></div>

            <div class="p-4">
              <div class="mb-3">
                <p class="text-[#141414] text-lg font-bold">{{product.name}}</p>
                <p class="text-[#757575] mt-1">{{product.content}}</p>
                <p class="text-[#141414] font-medium mt-2">
                  ${{product.price}}
                </p>
              </div>

              <div class="border-t border-gray-100 pt-3">
                <p class="text-[#141414]">{{product.description}}</p>
              </div>
              <div class="border-t border-gray-100 pt-3 mt-3 ">
                {% for category in product.category.all %}
                <p class="text-[#141414] text-sm">{{ category.name }}</p>
                {%endfor%}
              </div>
            </div>


            <div class="p-4">
              <button
                class="w-full bg-[#141414] text-white py-3 rounded-lg font-medium hover:bg-opacity-90 transition"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
